.icons__container {
  display: flex;
  overflow-y: hidden;
  overflow-x: scroll;
  padding: 10px 30px;
  background-color: rgb(94, 92, 92);
  margin-bottom: 10px;
}

.provider__icon {
  object-fit: contain;
  border-radius: 20%;
  object-fit: contain;
  max-height: 60px;
  margin-right: 10px;
}
.icons__container::-webkit-scrollbar {
  display: none;
}
