.login {
  background-color: rgb(19, 14, 14);
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.login__logo {
  margin-top: 20px;
  margin-bottom: 20px;
  object-fit: contain;
  width: 100px;
  margin-right: auto;
  margin-left: auto;
  border-radius: 5px;
}

.login__container {
  width: 300px;
  height: fit-content;
  display: flex;
  flex-direction: column;
  border-radius: 5px;
  border: 1px solid lightgray;
  padding: 20px;
  color: white;
}

.login__container > h1 {
  font-weight: 500;
  margin-bottom: 20px;
}

.login__container > form > h5 {
  margin-bottom: 5px;
}

.login__container > form > input {
  height: 30px;
  margin-bottom: 10px;
  background-color: white;
  width: 98%;
}

.login__container > p {
  margin-top: 15px;
  font-size: 12px;
}

.login__signInButton {
  background: #d8412d;
  border-radius: 2px;
  border: 1px solid;
  width: 100%;
  height: 30px;
  margin-top: 10px;
  border-color: #a3554d #853b31 #d8412d;
  font-weight: 600;
  font-size: 15px;
  color: rgb(255, 249, 249);
}

.login__registerButton {
  border-radius: 2px;
  border: 1px solid;
  width: 100%;
  height: 30px;
  margin-top: 10px;
  border-color: darkgray;
}

.login__error_msg {
  color: #d8000c;
  text-align: center;
}
