.nav {
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #000;
  position: sticky;
  top: 0;
  z-index: 100;
}

.nav__logo {
  /* position: fixed; */
  /* left: 20px; */
  /* width: 80px; */
  height: 50px;
  border-radius: 10px;

  width: 100px;
  object-fit: contain;
  margin: 0 20px;
  /* margin-top: 18px; */
}

.nav__search {
  display: flex;
  flex: 0.5;
  align-items: center;
  border-radius: 24px;
}

.nav__searchInput {
  height: 12px;
  padding: 10px;
  border: none;
  width: 100%;
}

.nav__searchIcon {
  padding: 5px;
  height: 22px !important;
  background-color: #d8412d;
}

.nav__searchIcon:hover {
  cursor: pointer;
}

.nav__links {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-right: 2rem;
}

.nav__link {
  text-decoration: none;
  color: #eee;
  font-size: 1rem;
}

.nav__link:hover {
  color: #d8412d;
}

.nav__option {
  display: flex;
  flex-direction: column;
  margin-left: 10px;
  margin-right: 10px;
  color: white;
}

.nav__optionLineOne {
  font-size: 10px;
}

.nav__optionLineTwo {
  font-size: 13px;
  font-weight: 800;
}

.nav__signInButton {
  margin-left: 1rem;
  padding: 5px;
}

.nav__signInButton:hover {
  cursor: pointer;
}
